<div class="header">
    <a href="/home" class="logo">
        <img src="../../assets/images/logo_foodie.jpg" class="logo-image">
        <span>FOODIES</span>
    </a>
    <div class="header-right">
      <a [ngClass]="{active: url ==='/home' || url === '/'}" href="/home" routerLink="/home">Home</a>
      <a [ngClass]="{active: url ==='/menu'}" href="/menu" routerLink="/menu">Menu</a>
      <a [ngClass]="{active: url ==='/about'}" href="/about" routerLink="/about">About Us</a>
      <a [ngClass]="{active: url ==='/cart'}" href="/cart" routerLink="/cart">Cart({{cartCount}})</a>
    </div>
  </div>
